<div class="notification">
  <h2>Notifications</h2>
  <% if @notifications.empty? %>
    <p>No new notifications</p>
  <% else %>
    <ul>
      <% @notifications.each do |notification| %>
        <li>
          <% case notification.category when "request" %>
            <%= "#{Friendship.find(notification.notification_id).requester.name} sent you a friend request!" %>
          <% when "comment" %>
            <%= "#{Comment.find(notification.notification_id).user.name} commented on your post." %>
          <% when "like" %>
            <% like = Like.find(notification.notification_id) %>
            <% type = like.likeable_type == "Post" ? "post" : "comment" %>
            <%= "#{like.user.name} liked your #{type}." %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>  
</div>
