<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <% if current_user.id != user.id %>
      <%= link_to user.name, user_path(user) %>
      <%= button_to "Add Friend", user_friendships_path(user) %>
    <% end %>
  <% end %>
</div>


