<% type = item.class.name.downcase %>
<% id = item.id %>
<% existing_like = item.likes.find_by(user_id: current_user.id) %>

<div>
  <% if existing_like.nil? %>
    <%= button_to "Like", "#{type}s/#{id}/likes", params: {like: {likeable_type: item.class, likeable_id: id}} %>
  <% else %>
    <%= button_to "Unlike", existing_like, method: :delete %>
  <% end %>
  
  <%= link_to "Edit this #{type}", "#{type}s/#{id}/edit" %>
  <%= button_to "Destroy this #{type}", item, method: :delete %>
</div>
